* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: #050505;
  color: #fff;
  font-family: "PP Neue Montreal Book", sans-serif;
}

/* ---------------- 헤더 ---------------- */

/* 헤더 */
/* 상세페이지 헤더 */
.sub-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 40px 60px;
  box-sizing: border-box;

  z-index: 999;
}

.sub-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 */
.sub-logo {
  color: #d1d1d1;
  text-decoration: none;

  font-size: 24px;
  font-family: "PP Neue Montreal Medium", sans-serif;

  letter-spacing: -0.03em;
}

/* 메뉴 */
.sub-nav ul {
  display: flex;
  gap: 40px;
}

.sub-nav a {
  color: #d1d1d1;
  text-decoration: none;

  font-size: 15px;
  text-transform: uppercase;

  font-family: "PP Neue Montreal Medium", sans-serif;
}

/* O 스타일 */
.font-trirong {
  font-family: "DM Serif Text", serif;
  font-style: italic;
  font-weight: 400;

  display: inline-block;
  transform: skewX(-5deg);
  letter-spacing: 1.5px;
}

/* O */

.font-trirong {
  font-family: "DM Serif Text", serif;
  font-style: italic;
  transform: skewX(-5deg);
}

/* side nav */

.side-nav {
  position: fixed;
  top: 58%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #888;
  font-size: 14px;
  letter-spacing: 0.1em;
  z-index: 50;
  cursor: pointer;
  transition: 0.3s ease;
}

.side-nav:hover {
  color: #fff;
}

.arrow {
  font-size: 14px;
}

/* 왼쪽 */
.side-left {
  left: 30px;
}

/* 오른쪽 */
.side-right {
  right: 30px;
}

/* 메인 */

.work-page {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 120px 110px 80px;
}
.thumb-page-title {
  font-size: 20px;
  color: #d1d1d1;
  padding-bottom: 40px;
  letter-spacing: -0.02em;
}
.thumb-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.thumb-item {
  font-family: "Pretendard";
  overflow: hidden;
  cursor: pointer;
}
.thumb-item img {
  width: 100%;
  display: block;

  transition:
    transform 0.8s ease,
    opacity 0.5s ease;
}
.thumb-item:hover img {
  transform: scale(1.05);
  opacity: 0.95;
}

.thumb-info {
  padding-top: 14px;
}

/* 위 메타 */

.thumb-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #7d7d7d;

  font-size: 14px;
  line-height: 1.5;

  margin-bottom: 10px;
  border-bottom: 1px solid #d1d1d134;
}

/* 설명 */

.thumb-desc {
  color: #d7d7d7;
  font-size: 17px;
  line-height: 1.57;
  letter-spacing: -0.02em;
  word-break: keep-all;
}

.detail-footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
/* more btn */
.detail-footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 120px;
  margin-bottom: 60px;
}
.more-exit-btn {
  display: inline-flex;
  gap: 10px;
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.15em;
  transition: 0.35s ease;
}

.more-exit-btn:hover {
  color: #fff;
}

.plus-icon {
  transition: transform 0.4s ease;
}

.more-exit-btn:hover .plus-icon {
  transform: rotate(90deg);
}

@media (max-width: 720px) {
  .sub-header {
    padding: 40px 0px;
  }
}

@media (max-width: 480px) {
  .work-page {
    padding: 110px 50px 60px;
  }

  .thumb-page-title {
    font-size: 16px;
    padding-bottom: 15px;
  }

  .thumb-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .thumb-desc {
    font-size: 15px;
    line-height: 1.5;
  }

  .thumb-meta {
    font-size: 12px;
  }

  .nav-text {
    display: none;
  }
  .side-nav {
    font-size: 11px;
    gap: 0;
  }
  .arrow {
    font-size: 24px;
  }

  .side-left {
    left: 12px;
  }

  .side-right {
    right: 12px;
  }
}
